:root{
    --primary-color:rgb(242, 237, 215);
    --secondary-color:#755139;
}

body{
    background: url('../images/library.png') no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.container-1{
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    border: none;
    border-bottom: 5px solid var(--secondary-color);
    padding: 2%;
    margin: 5%;
    background-color: #75513905;
}

#add-book{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 5%;
    margin: 5%;
    border-color: var(--secondary-color);
    border-radius: 3px;
    transition: 0.3s;
}

#add-book:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: #755139;
    cursor: pointer;
}

.container-2{
    background-color: var(--primary-color);
    margin-top: 5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.80);
}

h1{
    color: var(--secondary-color);
    font-size: 2rem;
    text-decoration: underline;
    font-family: "Pacifico", sans-serif;
}

.list-item{
    list-style-type: none;
    font-size: 1.2rem;
    margin-top: 10%;
    color: var(--secondary-color);
    font-weight: 500;
}

.list-item input:checked + label{
    text-decoration: line-through;
}

#remove{
    border: none;
    background-color: transparent;
    color: var(--secondary-color);
    margin-left: 3%;
    transition: 0.3s;
}

#remove:hover{
    cursor: pointer;
    text-decoration: underline;
}